version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '01:23'
      timezone: Europe/Warsaw
    labels:
      - dependencies
      - actions
    open-pull-requests-limit: 10
    groups:
      actions-patches:
        patterns:
          - 'patch'
          - 'minor'
      artifacts-upload-and-download:
        patterns:
          - 'actions/upload-artifact'
          - 'actions/download-artifact'
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: '16:16'
      timezone: Europe/Warsaw
    labels:
      - dependencies
      - libs
    open-pull-requests-limit: 30
    groups:
      npm-small-upgrades:
        patterns:
          - '**'
        exclude-patterns:
          - 'typescript'
        update-types:
          - 'minor'
          - 'patch'
      typescript:
        patterns:
          - 'typescript'
        update-types:
          - 'patch'
          - 'minor'
      typescript-major:
        patterns:
          - 'typescript'
        update-types:
          - 'major'
      angular:
        patterns:
          - '@angular/*'
          - '@angular-devkit/build-angular'
          - '@angular/cli'
          - '@angular-eslint/*'
        update-types:
          - 'major'
      eslint:
        patterns:
          - '@angular-eslint/*'
          - '@typescript-eslint/*'
        update-types:
          - 'major'
