<span
  class="hourly_rate_edit_icon"
  (click)="onRateEditClick()">
  <img
    class="hourly_rate_edit_icon__image"
    alt="edit icon for hourly rate"
    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDE0LjY2VjIwYTIgMiAwIDAgMS0yIDJINGEyIDIgMCAwIDEtMi0yVjZhMiAyIDAgMCAxIDItMmg1LjM0Ii8+PHBvbHlnb24gcG9pbnRzPSIxOCAyIDIyIDYgMTIgMTYgOCAxNiA4IDEyIDE4IDIiLz48L3N2Zz4="
    >
  {{ text }}
</span>
