<div class="container">
  <div class="row">
    <div class="two columns"></div>
    <div class="eight columns">

      <h1>timeismoney</h1>

      <button (click)="rateConfigModal.open()">Set you rate</button>

      <app-timer [label]="'Counter A'"></app-timer>

      <app-timer [label]="'Counter B'"></app-timer>

    </div>
    <div class="two columns"></div>
  </div>
</div>

<!-- https://github.com/zurfyx/angular-custom-modal#modalcomponent -->
<modal #rateConfigModal>
  <ng-template #modalHeader>
    <h2>Hourly Rate</h2>
  </ng-template>
  <ng-template #modalBody>
    <app-rate></app-rate>
  </ng-template>
  <ng-template #modalFooter>
    <button class="button-primary" (click)="rateConfigModal.close()">ok</button>
  </ng-template>
</modal>

<router-outlet></router-outlet>
