
$sk-primary: #33C3F0FF;
$sk-primary-hover: #1EAEDBFF;
$sk-primary-focus: #1EAEDBFF;

// https://coolors.co/33c3f0-f1f1f1-17344f-447604-6cc551
// https://coolors.co/33c3f0-f1f1f1-17344f-898952-ffbf00
$light-gray: #F1F1F1FF;
$prussian-blue: #17344FFF;


// https://coolors.co/e0e4e8-435660-4e5546-db832b-772c3a

$gainsboro: #e0e4e8ff;
$ebony: #4e5546ff;
$light-slate-gray: #7792a0ff;
$bronze: #db832bff;
$wine: #772c3aff;
