/* ----------------------------------
// Fonts
//----------------------------------*/
@import 'style/_fonts';
@import 'style/_colors';

$background: $light-gray;
$default-text: $prussian-blue;

body {
    margin-top: 3em;
    font-family: Lato, Tahoma, sans-serif;
    background-color: $background;
    color: $default-text;
}

h1, h2, h3 {
  font-weight: bold;
}
