/* ----------------------------------
// Fonts
//----------------------------------*/
@import 'style/_fonts';
@import 'style/_colors';

$background: $gainsboro;
$default-text: $ebony;

body {
    margin-top: 3em;
    font-family: Lato, Tahoma, sans-serif;
    background-color: $background;
    color: $default-text;
}
