/* ----------------------------------
// Fonts
//----------------------------------*/
@use 'style/_fonts';
@use 'style/_colors';

$background: colors.$light-gray;
$default-text: colors.$prussian-blue;

body {
    margin-top: 3em;
    font-family: Lato, Tahoma, sans-serif;
    background-color: $background;
    color: $default-text;
}

h1, h2, h3 {
  font-weight: bold;
}
