name: Parallel build

on:
  push:
    branches:
      - main
  pull_request:
    branches: 
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Specific Node.js Version
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: NPM Install
        run: npm ci
      - name: Lint
        run: npm run lint

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    # https://github.com/dependabot/dependabot-core/issues/3253#issuecomment-852541544
    if: github.ref != 'refs/heads/main'
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - name: Use Specific Node.js Version
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: NPM Install
        run: npm ci
      - name: Tests
        run: |
          export NG_CLI_ANALYTICS=false
          npm test
      - name: Save Coverage
        uses: actions/upload-artifact@v6
        continue-on-error: true
        if: ${{ !cancelled() }}
        with:
          name: coverage
          path: coverage/**
          retention-days: 10
      - name: Test Report
        uses: dorny/test-reporter@v2
        continue-on-error: true
        if: ${{ !cancelled() }}
        with:
          name: JEST Tests
          path: test-results/junit.xml
          reporter: jest-junit

  test-and-sonar:
    name: Run Tests and Sonar Analysis
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - name: Use Specific Node.js Version
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: NPM Install
        run: npm ci
      - name: Sonar version
        run: |
          npm run sonar --version
      - name: Tests and Sonar
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./sonar-token-check.sh
          export NG_CLI_ANALYTICS=false
          npm test
          npm run sonar
      - name: Save Coverage
        uses: actions/upload-artifact@v6
        continue-on-error: true
        if: ${{ !cancelled() }}
        with:
          name: coverage
          path: coverage/**
          retention-days: 10
      - name: Test Report
        uses: dorny/test-reporter@v2
        continue-on-error: true
        if: ${{ !cancelled() }}
        with:
          name: JEST Tests
          path: test-results/junit.xml
          reporter: jest-junit

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Specific Node.js Version
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: NPM Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Archive built project
        uses: actions/upload-artifact@v6
        with:
          name: timeismoney-dist
          path: dist
          retention-days: 1

  deploy:
    # make it work with skipped jobs: https://github.com/github/docs/issues/4822#issuecomment-826617890
    if: ${{ (github.ref == 'refs/heads/main') && !failure() && !cancelled() }}
    needs: [lint, test-and-sonar, build]
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Download Build Project
        uses: actions/download-artifact@v7
        with:
          name: timeismoney-dist
          path: dist
      - name: List Current Folder
        run: ls -R
      - name: Deploy
        # https://github.com/JamesIves/github-pages-deploy-action#configuration-
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          repository-name: wiiitek/timeismoney
          branch: gh-pages
          folder: ./dist/timeismoney/browser
          token: ${{ secrets.GH_TOKEN }}
